@import "../common/styles/sass/variables";

.contactsBlock {
  background-color: $bgSecondColor;
}

.contactsContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  color: $textColor;
}

.contacts {
  width: 50%;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  font-family:$fontFamily;
}

.contacts input, .contacts textarea {
  width: 100%;
}

.button {
  background-color: #7df1f1;

}
.textarea{
  font-family:$fontFamily;

}
