@import "../../common/styles/sass/variables";

.skill {
  width: 150px;
  background-color: $bgColor;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $textColor;
  padding: 5px;
  margin: 20px;
  text-align: center;

  @media screen and (max-width: 1000px) {
    justify-content: center;
    margin: 10px;
  }
  .icon {
    height: 100px;
    width: 100px;
    margin-top: 10px;
    background-color: rgba(232, 113, 232, 0);
  }

  .description {

  }
}



