@import "../../styles/sass/variables";
@import "../../styles/sass/mixins";

.title {
  margin: 0 0 30px;
  @include text($fontFamily, 36px, 1.2, 600);
  text-transform: capitalize;
  position: relative;
  text-align: center;
  font-size: 1.75rem;
  //font-family: Poppins, sans-serif;
  color: $textColor;
  font-weight: 300;
  //line-height: 1.2;

  & h2 {
    margin: 0;
  }

  & ::before {
    content: '';
    position: absolute;
    background: $primaryColor;
    width: 80px;
    height: 3px;
    bottom: -5px;
    margin-top: 30px;
    transform: translate(-50%, 50%);
    left: 50%;
  }

}


