.skillsBlock {
    min-height: 100vh;
    background-color: #4c4d4d;
    border:1px solid red;

}
.skillsContainer{
    border:1px solid;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.title{
    background-color: #f5d86a;

}