@import ".././common/styles/sass/variables.scss";
@import ".././common/styles/sass/mixins";

.mainBlock {
    min-height: 100vh;
    @include flex(row, center, center, nowrap);
    padding: 100px 0;
    background-color:$bgColor;
    .text{
        width: 600px;
        font-family: $fontFamily;
        color: $textColor;
    }
    .photo{
        width: 300px;
        height: 400px;
        background-color: $primaryColor;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
    }
}


