@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";
@import "../common/components/button/Button.module";


.footersBlock {
  min-height: 300px;
  background-color: #212529;
  @include flex(row, center, stretch, nowrap);

  .footerContainer {
    @include container();
    @include flex(column, flex-start, center, nowrap);
    padding: 100px 0 20px;

    .socialContainer {
      @include flex(row, space-between, center, nowrap);
      width: 400px;
      margin-top: 30px;
      @media screen and (max-width: 424px) {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        width: 100%;
      }

      .iconFooter {
        height: 60px;
        width: 60px;
        margin: 4px;
      }
    }

    .bottom {
      @include text($fontFamily, 15px, 1.2, 400);
      margin-top: 30px;
      color: $textColor;
      padding: 20px;
      opacity: 0.6;
    }
  }
}
