.footerBlock{
    min-height: 100vh;
    background-color: #645f5f;
    border:1px solid red;
}
.footerContainer{
    border:1px solid black;

    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.socialContainer{
    border: 1px solid;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}
.title{
    background-color: #f5d86a;

}
.footer{
    height: 50px;
    width: 50px;
    background-color: #f5d86a;
}