.footerBlock{
    background-color: #645f5f;
}
.footerContainer{
    border:1px solid;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.socialContainer{
    border: 1px solid;
    width: 250px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.title{
    background-color: #f5d86a;
}
.iconFooter{
    height: 50px;
    width: 50px;
    background-color: #f5d86a;
}