.projectsBlock {
    background-color: #212529;
    padding: 100px 0;
}
.projectsContainer{
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.projects{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 30px;
    align-items: flex-start;
}
@media screen and (max-width: 502px ){
    .projects{
        justify-content: center;
    }
}